name=Galway building tracing
# osmosis
bbox=left=-9.31 right=-8.74 top=53.40 bottom=53.16
poly=mali.poly
# edits, make sure LON1 < LON2 and LAT1 > LAT2
LON1=-9.1554
LON2=-9.0048
LAT1=53.3102
LAT2=53.2350
# don't change those after you have run ./generate.sh
ZOOMINFACTOR=200
ZOOMOUTFACTOR=100
ZOOM=1
POINTS=1
GPX=0
MINUTELY=1
